cshtml
@model Category
@{
    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Category</h1>

<div class="container d-flex flex-column justify-content-around align-items-around w-75">
    <form method="post">
        <div class="d-flex justify-content-between align-items-between">
            <label for="Name">Category Name:</label>
            <input class="form-control" type="text" placeholder="Enter Category Name" asp-for="Name" />
        </div>

        <input type="submit" class="btn btn-primary mt-3" value="Save Category" />
    </form>
</div>
