@model Category
@{
    ViewData["Title"] = "Update";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex flex-column justify-content-center align-items-center my-5 w-50">
    <h1 class="mb-4">Update Category</h1>
    <form method="post" class="w-100">
        <div class="mb-3">
        <!-- Input for Name -->
        <label for="Name">Category Name:</label>
        <input class="form-control mt-2" type="text" placeholder="Enter Category Name" asp-for="Name" value="" />
        </div>
        <input type="submit" class="btn btn-primary" value="Update Category" />
    </form>
</div>
